.textarea,
.input {
  resize: none;
  font-size: 13px;
  font-weight: 400;
  color: black;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  padding: 10px 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.textarea::placeholder,
.input::placeholder {
  color: rgba(91, 100, 110, 0.8);
}

.form-control {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

.input-footer {
  width: 100%;
  border: 2px solid #ffffff;
  background-color: transparent;
  border-radius: 5px;
  height: 46px;
  padding: 0 15px;
  color: #ffffff;
  cursor: pointer;
}

.icon-flip {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 20px;
  margin-right: 40px;
  padding: 30px;
}

.icon-fl {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 20px;
  margin-right: 25px;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

input:disabled,
.textarea:disabled,
.input-footer:disabled {
  background-color: transparent;
  color: black;
  border-color: red;
}

.input:focus,
.textarea:focus,
.input-footer:focus {
  outline: none;
  border-color: #0eb493;
}

.input-filter {
  width: 30%;
  justify-content: flex-end;
  border-radius: 5px;
  margin: 0 10px;
}

.input-filter:focus {
  border-color: #2684FF;
  box-shadow: 0 0 0 1px #2684FF;
}

.custom-select {
  width: 30%;
  margin: 0 10px;
}

.form-name {
  align-items: center;
  justify-content: flex-end;
  display: flex;
}