* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-size: 13px;
  font-weight: 400;
  color: #062033;
  opacity: 0.8;
  font-family: "Open Sans", sans-serif;
}

.container {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
  overflow: hidden;
}

.section-footer .container {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
  overflow: hidden;
}

body {
  margin: 0;
  position: relative;
}

p,
ul,
ol,
figure {
  margin: 0 0 10px 0;
}

* + p,
* + ul,
* + ol,
* + figure {
  margin-top: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.67em 0;
}

* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
  margin-top: 0.67em;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

a,
.link {
  color: #ffffff;
  text-decoration: none;
}

a:hover,
.link:hover {
  text-decoration: none;
  color: white;
  opacity: 1 !important;
}

img {
  width: 100%;
  object-fit: cover;
  height: 600px;
}

.unbold {
  font-weight: 300;
}

.brandi-word {
  color: #0feb9e;
}

.black-word {
  color: #062033;
}

iframe {
  width: 100%;
  height: 300px;
  border: 3px solid rgba(107, 107, 212, 0.4);
}

.loader {
  border: 10px solid #f3f3f3; 
  border-top: 10px solid #4ec98f; 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}