* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-size: 13px;
  font-weight: 400;
  color: #062033;
  opacity: 0.8;
  font-family: "Open Sans", sans-serif;
}

.container {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
  overflow: hidden;
}

body {
  margin: 0;
}

figure {
  margin: 0 !important;
}

p,
ul,
ol,
figure {
  margin: 0 0 10px 0;
}

* + p,
* + ul,
* + ol,
* + figure {
  margin-top: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.67em 0;
}

* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
  margin-top: 0.67em;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

a,
.link {
  color: #ffffff;
  text-decoration: none;
}

a:hover,
.link:hover {
  text-decoration: none;
  color: white;
  opacity: 1 !important;
}

img {
  width: 100%;
  object-fit: cover;
  height: auto;
}

.image-border-sm {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #898989;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-border-lg {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.border-green {
  border: 1px solid #0eb493;
}

.border-white {
  border: 1px solid #ffffff;
}

.unbold {
  font-weight: 300;
}

.brandi-word {
  color: #0feb9e;
}

.black-word {
  color: #062033;
}

@media (min-width: 640) {
  html {
    font-size: 18px;
  }

  h1 {
    font-size: 62px;
  }

  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 20px;
  }
}
