.modal-control {
    position: absolute;
    background-color: rgba(80, 114, 80, 0.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: black;
   
}

.modal-content {
    background-color: rgb(247, 238, 238);
    width: 400px;
    margin: calc(100vh - 20px) auto;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}