.modal-control {
  position: absolute;
  background-color: rgba(80, 114, 80, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: black;
}

.modal-content {
  text-align: center;
  background-color: rgb(247, 238, 238);
  width: 800px;
  margin: calc(100vh - 20px) auto;
  padding: 100px 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@keyframes animatetop {
  from {top: -100px; opacity: 0}
  to {top: 100px; opacity: 1}
}


.row {
  display: flex;
  align-items: center;
}

.row-number,
.place {
  padding: 20px 15px;
}

.place.free {
  background-color: rgba(164, 224, 73, 0.5);
  margin: 3px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid transparent;
}

.place.free:hover {
  border: 1px solid #0eb493;
}

.place.free:focus {
  border: 1px solid #0eb493;
}

.place.booked {
  background-color: rgba(224, 103, 73, 0.5);
  margin: 3px;
  border-radius: 10px;
  cursor: default;
}

.card-films {
  position: relative;
}